In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("/content/gender_classification_v7.csv")

In [ ]:
data.head()

   long_hair  forehead_width_cm  ...  distance_nose_to_lip_long  gender
0          1               11.8  ...                          1    Male
1          0               14.0  ...                          0  Female
2          0               11.8  ...                          1    Male
3          0               14.4  ...                          1    Male
4          1               13.5  ...                          0  Female

[5 rows x 8 columns]

In [ ]:
data.shape

(5001, 8)

In [ ]:
data.isnull().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [ ]:
dep_var=data.drop(['long_hair','forehead_width_cm','forehead_height_cm','nose_wide','nose_long','lips_thin','distance_nose_to_lip_long'],axis=1)
indep_var=data.drop(['gender'],axis=1)

In [ ]:
dep_var.head(3)

   gender
0    Male
1  Female
2    Male

In [ ]:
indep_var.head(3)

   long_hair  forehead_width_cm  ...  lips_thin  distance_nose_to_lip_long
0          1               11.8  ...          1                          1
1          0               14.0  ...          1                          0
2          0               11.8  ...          1                          1

[3 rows x 7 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import model_selection

In [ ]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(indep_var, dep_var,test_size=0.30, random_state=100)

In [ ]:
model = LogisticRegression()
model.fit(X_train, Y_train)
result = model.score(X_test, Y_test)
print("Accuracy: %.2f%%" % (result*100.0))

Accuracy: 97.07%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)