In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("/content/gender_classification_v7.csv")

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("/content/gender_classification_v7.csv")

In [ ]:
data.head(3)

   long_hair  forehead_width_cm  ...  distance_nose_to_lip_long  gender
0          1               11.8  ...                          1    Male
1          0               14.0  ...                          0  Female
2          0               11.8  ...                          1    Male

[3 rows x 8 columns]

In [ ]:
dep_var=data.drop(['long_hair','forehead_width_cm','forehead_height_cm','nose_wide','nose_long','lips_thin','distance_nose_to_lip_long'],axis=1)
indep_var=data.drop(['gender'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier

In [ ]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(indep_var, dep_var,test_size=0.30, random_state=100)

In [ ]:
opt=SGDClassifier(loss="log",max_iter=100,tol=0.01)
opt.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='log', max_iter=100,
              n_iter_no_change=5, n_jobs=None, penalty='l2', power_t=0.5,
              random_state=None, shuffle=True, tol=0.01,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
score=opt.score(X_train,Y_train)
print("Optimized Score",score)

Optimized Score 0.9674285714285714

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
ypred=opt.predict(X_test)

In [ ]:
cm = confusion_matrix(Y_test, ypred)
print(cm)

[[758  11]
 [ 31 701]]

In [ ]:
cr=accuracy_score(ypred,Y_test)
print(cr)

0.972018654230513